<!DOCTYPE html>
<html>
<head>
	<title>Adhithyakrishna</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
	{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> --}}
    <script type='text/javascript' src='/static/js/jquery.min.js'></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/slick.css"/>
    <script type='text/javascript' src='/static/js/portfolio.js'></script>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Amaranth|Crete+Round');
	</style>
</head>


<body>
	<div class="content-frame">
		<div class="contentHolder">
		<div clas="loaderImage"></div>
			{{{body}}}
		</div>
	</div>
	<script type="text/javascript" src="/static/js/slick.min.js"></script>
</body>
</html>