<div class="holderProfileInfo">
   <div class="profileImageBanner">
      <div class="profileElements">
         <div class="profileImage"></div>
         <div class="nameContainer">Adhithyakrishna</div>
         <div class="aboutMe"> Front-end developer, Writer and a Movie-Buff</div>
      </div>
   </div>
   <div class="holderAboutInfo">
      <div class="centerContent">
         <div class="about-info">
            <div class="about-title">
               <h1>About me</h1>
            </div>
            <p class="description">Hi, I'm Adhithya Krishna, I am a front-end developer with an infinite zeal to design and build amazing websites. I put my heart and soul into every work I do and consider each aspect of my work a piece of art. 
               I am a writer by passion and my long term prospect is to revolutionise the art of story telling through digital media. 
            </p>
            {{!--          
            <ul class="shortDescription">
               <li><span>Name : </span>Adhithyakrishna.K.S</li>
               <li><span>Email : </span>adhithya.writer@gmail.com</li>
               <li><span>Website : </span> - </li>
               <li><span>LinkedIn : </span> </li>
            </ul>
            --}}
         </div>
      </div>
   </div>
   {{!--  --}}
   <div class="holderEducationExperienceInfo">
      <div class="educationExperienceHolder">
         <div class="educationInfo">
            <div id="educationHeader">
               <div id="eduSpritImgHolder">
                  <div id="eduSpritImg">
                  </div>
               </div>
               <div class="contentEducationHolder">
                  <span id="SPAN_31">Education</span>
               </div>
            </div>
            <div class="educationContentHolder">
               <div class="educationContent">
                  <h2 class="educationHeader">
                     SBKV Matriculation School 
                  </h2>
                  <span id="yearHolder">1999 - 2010</span>
                  <p> Secured 88.2% in 10th grade.
                  </p>
               </div>
               <div class="educationContent">
                  <h2 class="educationHeader">
                     SBKV Matriculation School 
                  </h2>
                  <span id="yearHolder">2010 - 2012</span>
                  <p> Secured 82.4% in 12th grade
                  </p>
               </div>
               <div class="educationContent">
                  <h2 class="educationHeader">
                     Kumaraguru College of Technology
                  </h2>
                  <span id="yearHolder">2012 - 2016</span>
                  <p> Studied Bachelor of Engineering in Computer Science,
                     Secured 79.9%
                  </p>
               </div>
               <div class="triangle"></div>
            </div>
         </div>
         <div class="experienceInfo">
            <div id="educationHeader">
               <div id="eduSpritImgHolder">
                  <div id="eduSpritImg" class="skillSet"></div>
               </div>
               <div class="contentEducationHolder">
                  <span id="SPAN_31">Work Experience</span>
               </div>
            </div>
            <div class="educationContentHolder">
               <div class="educationContent">
                  <h2 class="educationHeader company">
                  </h2>
                  <span id="yearHolder">2016 (January - June)</span>
                  <p> 
                     Worked as an intern in front-end development.
                  </p>
               </div>
               <div class="educationContent">
                  <h2 class="educationHeader company">
                  </h2>
                  <span id="yearHolder">2016 (June) - Present</span>
                  <p> 
                     Working as a software developer trainee.
                  </p>
               </div>
               <div class="triangle"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="skillsInfo">
      <div class="holderSkillInfoContainer">
         <div class="skillHeader">
            <h1>Front-end technologies</h1>
         </div>
         <div class="skillHeaderHolder">
            <div class="skillContainer">
               <div class="skillLevel animateit leftContent">
                  <div class="html skillbar clearfix " data-percent="80%">
                     <div class="skillbar-title"><span>Html 5</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">80%</div>
                  </div>
                  <div class="css skillbar clearfix " data-percent="80%">
                     <div class="skillbar-title"><span>Css 3</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">80%</div>
                  </div>
                  <div class="query skillbar clearfix " data-percent="85%">
                     <div class="skillbar-title"><span>JQuery</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">85%</div>
                  </div>
               </div>
               <div class="handle skillLevel animateit rightContent">
                  <div class="skillbar clearfix " data-percent="80%">
                     <div class="skillbar-title"><span>Handlebars templating engine</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">80%</div>
                  </div>
                  <div class="node skillbar clearfix " data-percent="50%">
                     <div class="skillbar-title"><span>Node JS</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">50%</div>
                  </div>
                  <div class="react skillbar clearfix " data-percent="40%">
                     <div class="skillbar-title"><span>React JS</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">40%</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="ancillaryHeaderHolder">
         <div class="ancillaryHeader">
            <h1>Technologies I have worked in</h1>
         </div>
         <div class="ancillarySkills">
            <div class="technology">
               <div class="technologyHolder">
                  <div class="logoHolder">
                     <div class="logoImg">
                        <div class="skillSprite java">
                        </div>
                     </div>
                  </div>
                  <div class="technologyName"> Java
                  </div>
               </div>
            </div>
            <div class="technology">
               <div class="technologyHolder">
                  <div class="logoHolder">
                     <div class="logoImg">
                        <div class="skillSprite mongo">
                        </div>
                     </div>
                  </div>
                  <div class="technologyName"> mongoDB
                  </div>
               </div>
            </div>
            <div class="technology">
               <div class="technologyHolder">
                  <div class="logoHolder">
                     <div class="logoImg">
                        <div class="skillSprite express">
                        </div>
                     </div>
                  </div>
                  <div class="technologyName"> expressJS
                  </div>
               </div>
            </div>
            <div class="technology">
               <div class="technologyHolder">
                  <div class="logoHolder">
                     <div class="logoImg">
                        <div class="skillSprite photoshop">
                        </div>
                     </div>
                  </div>
                  <div class="technologyName"> Photoshop
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="projectandWritingsHolder">
   <div class="projectHolder">
      <div class="projectHeaderHolder">
         <h1>My projects</h1>
      </div>
      <div class="myProjects">
         <div  id="sprite" class="project">
            <div class="projectsHolder">
               <div class="projectImg">
                  <div class="imgHolder"></div>
               </div>
               <div class="projectHeader">Sprite Image Mapper</div>
            </div>
            <div class="projectDescriptionHolder">
               <div class="projectDescription">
                  An utility tool built for web-developers, it helps to accurately find and map customised co-ordinates for any given image, calculates co-ordinates for the provided dimension. 
               </div>
               <div class="buildDescription">
                  <div class="buildHeader">Built With</div>
                  <ul>
                     <li>Node js</li>
                     <li>Express js</li>
                     <li>Handlebars</li>
                     <li>Jquery UI</li>
                     <li>Html and css</li>
                  </ul>
               </div>
            </div>
         </div>
         <div id="todo" class="project">
            <div class="projectsHolder">
               <div class="projectImg">
                  <div class="imgHolder"></div>
               </div>
               <div class="projectHeader">My todo App-list</div>
            </div>
            <div class="projectDescriptionHolder">
               <div class="projectDescription">
                  An online task management tool built for developers, it keeps track of all the tasks providing options to remove task, add comments and search through tasks based on date.
               </div>
               <div class="buildDescription">
                  <div class="buildHeader">Built With</div>
                  <ul>
                     <li>Mongo DB</li>
                     <li>Node js</li>
                     <li>Express js</li>
                     <li>Handlebars &</li>
                     <li>Jquery</li>
                  </ul>
               </div>
            </div>
         </div>
         <div id="photo" class="project">
            <div class="projectsHolder">
               <div class="projectImg">
                  <div class="imgHolder"></div>
               </div>
               <div class="projectHeader">Adhithya photography</div>
            </div>
            <div class="projectDescriptionHolder">
               <div class="projectDescription">
                  A mobile friendly photography website built on top of Flickr api services. It provides options to share photos on social media, add notes and shows geo-location of the photo. 
               </div>
               <div class="buildDescription">
                  <div class="buildHeader">Built With</div>
                  <ul>
                     <li>Node js</li>
                     <li>Express js</li>
                     <li>Handlebars</li>
                     <li>Ajax &</li>
                     <li>Jquery</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="writingsHolder">
      <div class="myWritingsHeader">
         <h1>My writings</h1>
      </div>
      <div class="sliderHolder">
         <div id="teresa" class="writings">
            <div class="writingsImageHolder">
               <div class="blogImgHolder">
               </div>
            </div>
            <div class="writingsDescriptionHolder">
               <div class="writingHeader">
                     <h2>Mother Teresa</h2>
               </div>
               <div class="writingsDescription">
               "An angel was born with a divine flame,<br>
               To cure people from sickness and lame,<br>
               She was sent by the god down to earth,<br>
               Incarnated with love right from birth."
               </div>
               <div class="readMoreHolder">
               Read more
               </div>
            </div>
         </div>
         <div id="civilWar" class="writings">
            <div class="writingsImageHolder">
               <div class="blogImgHolder">
               </div>
            </div>
            <div class="writingsDescriptionHolder">
           	   <div class="writingHeader">
           	   		<h2> Civil War</h2>
           	   </div>
               <div class="writingsDescription">
         		"You were born on this earth bringing nothing,<br>
                          And that is how you'll leave.<br>
                 Your debauched ways of acquiring something,<br>
                         Will definitely end up in grieve."
               </div>
               <div class="readMoreHolder">
               Read more
               </div>
            </div>
         </div>
         <div id="friendship" class="writings">
            <div class="writingsImageHolder">
               <div class="blogImgHolder">
               </div>
            </div>
            <div class="writingsDescriptionHolder">
               <div class="writingHeader">
                     <h2> Friendship </h2>
               </div>
               <div class="writingsDescription">
               "Friendship will never leave me apart,<br>
               for,It is deeply embedded in my heart.<br>
               Friendship never breaks, it isn't so brittle,<br>
               It is the strongest feeling from the heart though little."
               </div>
               <div class="readMoreHolder">
               Read more
               </div>               
            </div>
         </div>
         <div id="savegirlChild" class="writings">
            <div class="writingsImageHolder">
               <div class="blogImgHolder">
               </div>
            </div>
            <div class="writingsDescriptionHolder">
               <div class="writingHeader">
                     <h2> Female Infanticide</h2>
               </div>
               <div class="writingsDescription">
               "I tried to move,tried to wave my hands of in regret,<br>
                But all in vain, very soon I was made a lifeless object.<br>
               </div>
                <div class="readMoreHolder">
                Read more
                </div>
            </div>
         </div>
         <div id="dearCupid" class="writings">
            <div class="writingsImageHolder">
               <div class="blogImgHolder">
               </div>
            </div>
            <div class="writingsDescriptionHolder">
               <div class="writingHeader">
                     <h2> Dear Cupid </h2>
               </div>
               <div class="writingsDescription">
               "Is this one of your wicked plans?<br>
               trying to pierce my heart through your arrow,<br>
               then tangle my life in her beautiful hair-locks<br>
               and leave me there to suffer an incessant sorrow."
               </div>
               <div class="readMoreHolder">
               Read more
               </div>
            </div>
         </div>
         <div id="celestial" class="writings">
            <div class="writingsImageHolder">
               <div class="blogImgHolder">
               </div>
            </div>
            <div class="writingsDescriptionHolder">
               <div class="writingHeader">
                     <h2> Celestial Love </h2>
               </div>
               <div class="writingsDescription">
               "I sat there besides her for the rest of the night, looking at her beauty, wondering if she knew how it felt to have a “North pole star” right beside you", to claim this celestial being as yours."
               </div>
                <div class="readMoreHolder">
                Read more
                </div>
            </div>
         </div>
         <div id="quintessence" class="writings">
            <div class="writingsImageHolder">
               <div class="blogImgHolder">
               </div>
            </div>
            <div class="writingsDescriptionHolder">
               <div class="writingHeader">
                     <h2> Quintessence of life </h2>
               </div>
               <div class="writingsDescription">
               "You know, Why was God so specific,<br>
               that he bestowed humans with a vertical spine,<br>
               Because we could rise up every time we fall<br>
               So muster all your courage,fight-out rise and shine."
               </div>
               <div class="readMoreHolder">
               Read more
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <div class="footer">
      <div class="contactHolder">
         <div class="contactHeader"> I'd love to get in touch </div>
         <div class="socialHolder">
          <div id="gmail" class="socialImgholder">
            <div class="socialImg"></div>
            <div class="urlHolder">
            <a class="uri mail" href="mailto:adhithya.writer@gmail.com" target="_blank">adhithya.writer@gmail.com</a>
            </div>
          </div>
          <div id="blog" class="socialImgholder">
            <div class="blogger socialImg"></div>
            <div class="urlHolder">
            <a class="uri" href="//veraciousverves.blogspot.in" target="_blank">veraciousverves.blogspot.in</a>
            </div>
          </div>
          <div id="codeopen" class="socialImgholder">
            <div class="socialImg"></div>
            <div class="urlHolder">
            <a class="uri" href="//codepen.io/adhithyakrishna" target="_blank">Code pen</a>
            </div>
          </div>
          <div id="github" class="socialImgholder">
            <div class="githubber socialImg"></div>
            <div class="urlHolder">
            <a class="uri" href="//github.com/Adhithyakrishna" target="_blank">Git hub</a>
            </div>
          </div>
         </div>
      </div>
   </div>
   {{!-- 
   <div class="animateionele">
      <div class="skillbar clearfix " data-percent="65%">
         <div class="skillbar-title"><span>HTML5</span></div>
         <div class="skillbar-bar" style="background: #88cd2a;"></div>
         <div class="skill-bar-percent">65%</div>
      </div>
      <div class="skillbar clearfix " data-percent="75%">
         <div class="skillbar-title" style="background: #88cd2a;"><span>css3</span></div>
         <div class="skillbar-bar" style="background: #88cd2a;"></div>
         <div class="skill-bar-percent">75%</div>
      </div>
      <div class="skillbar clearfix " data-percent="99%">
         <div class="skillbar-title" style="background: #88cd2a;"><span>handlebars</span></div>
         <div class="skillbar-bar" style="background: #88cd2a;"></div>
         <div class="skill-bar-percent">99%</div>
      </div>
   </div>
   --}}
   {{!-- end --}}
</div>